:root {
  --page-gutter: 1.5rem;
}

@media screen and (min-width: 750px) {
  :root {
    --page-gutter: 2rem;
  }
}

.page-width,
.utility-bar__grid.page-width {
  padding-inline: var(--page-gutter);
}

@media screen and (min-width: 750px) {
  .page-width,
  .page-width-tablet,
  .header.page-width,
  .utility-bar__grid.page-width {
    padding-inline: var(--page-gutter);
  }
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width,
  .page-width-desktop {
    padding-inline: var(--page-gutter);
  }


  body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
    padding-inline: var(--page-gutter);
  }
}

